.productImg {
  width: 15 0px;
  height: 150px;
}

.likeBtn {
  border: none;
  background-color: transparent;
  margin-left: 30px;
}
.productDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
@media screen and (min-width: 420px) {
  .cardItem {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .cardItem {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
